
@import '../../styles/utils/_variables';
@import '../../styles/utils/_mixins';

.management {
    height: 100%;
    background-color: $color-brand-7;
    overflow: hidden;

    &__wrapper {
        display: flex;
        height: 100%;
    }

    &__content {
        width: 100%;

        &-main {
            background-color: $color-background;
            height: 100%;
        }
    }
}
