
@import '../../../styles/utils/_variables';
@import '../../../styles/utils/_mixins';

.section-with-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 2px solid $color-brand-7;
    margin-bottom: 10px;
}
