//-------------------------------------//
// MEDIA QUERIES

$media-lg: 1200px;
$media-md: 992px;
$media-sm: 768px;
$media-xs: 480px;


//-------------------------------------//
// DIMENSIONS

// navmenu height
$height-navmenu: 60px;

// sidebar
$sidebar-width: 250px;

// border-radius
$border-radius-base: 0;
$border-radius-small: 3px;
$border-radius-medium: 5px;
$border-radius-large: 10px;


//-------------------------------------//
// COLORS

// color: background
$color-background: #fff;

// color: brand
$color-brand-1: #0094fe;
$color-brand-2: #464646;
$color-brand-3: #EFEFEF;
$color-brand-4: #d1d1d1;
$color-brand-5: #919191;


// color: font
$color-font-base: $color-brand-2;

$color-primary: $color-brand-1;
$color-secondary: #786c90;
$color-success: #65ad7b;
$color-warning: #e7b167;
$color-info: #60a9ca;
$color-danger: #d5746d;
$color-light: $color-brand-5;
// $color-dark: #786c90;

// colors: links
$color-link: $color-brand-1;
$color-link-hover: lighten($color-brand-1, 15%);

// color: dividers/borders
$color-divider: #EFEFEF;

// color: modal background
$color-modal-bg: #f5f7f9;

// color: shadow
$color-shadow: rgba(0, 0, 0, 0.11);


//-------------------------------------//
// FONTS

// fonts: base styles
$font-family-1: 'Source Sans Pro', 'Helvetica Neue', helvetica, arial, sans-serif;
$font-size-base: 1rem;

// fonts: weights
$font-light: 300;
$font-normal: 400;
$font-medium: 600;
$font-bold: 700;


//-------------------------------------//
// SPACING

$spacing: 1.75rem;
$spacing-double: $spacing * 2;
$spacing-third: $spacing * 3;
$spacing-half: $spacing / 2;


//-------------------------------------//
// Z:INDEX

$zindex-header: 1000;
$zindex-dropdown: 1100;
$zindex-notify: 1300;
$zindex-modal: 1400;
$zindex-overlay: 100;
