
@import '../../../styles/utils/_variables';
@import '../../../styles/utils/_mixins';

.tabs {
    display: flex;
    margin-top: 8px;

    &__item {
        background-color: $color-brand-6;
        cursor: pointer;
        margin-left: 3px;
        padding: 5px 10px;
        border-top-left-radius: $border-radius-medium;
        border-top-right-radius: $border-radius-medium;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: lighten($color-brand-6, 10%);
        }

        &-label {
            margin-left: 8px;
            white-space: pre;
            text-align: center;
            line-height: 14px !important;
        }

        &:first-of-type {
            margin-left: 5px;
        }

        &.active {
            background-color: $color-background;
        }
    }
}
