@import "../../../styles/utils/_variables";
@import "../../../styles/utils/_mixins";

.navbar {
    padding: 0 $spacing;
    height: $height-navmenu;
    box-shadow: 0 2px $color-shadow;

    &__logo {
        height: 50px;
        width: 50px;
    }

    &__toggle {
        padding: 15px;
        cursor: pointer;
    }
}
