@import "../../../styles/utils/_variables";
@import "../../../styles/utils/_mixins";

.navbar {
    padding: 0px 10px 0 !important;
    height: $height-navmenu;
    background-color: $color-background;

    &.colored {
        background-color: $color-brand-darkBlue;
    }

    &__toggle {
        padding: 15px;
        cursor: pointer;
    }

    &-nav {
        flex-direction: row;
    }
}
