@import '../../styles/utils/_variables';
@import '../../styles/utils/_mixins';

.login {
    height: 100%;
    display: flex;

    &__wrapper {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image {
        background-image: url('../../assets/login-placeholder.jpeg');
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    &__form {
        text-align: center;
        width: 50%;
        max-width: 350px;
    }
}
