
@import '../../styles/utils/_variables';
@import '../../styles/utils/_mixins';

.dashboard {
    height: 100%;
    border-top: 1px solid $color-divider;
    padding: 5px 10px;
    margin: 30px 0;

    &__wrapper {
        padding: 1.5rem 1.75rem;
        margin: 10px;
        background-color: $color-background; 
        height: calc(100% - 15px);
        overflow-y: scroll;
    }

    &__header {
        border-bottom: 1px solid $color-divider;
    }

    &__data-id {
        padding: 3px 7px;
    }

    &__filter {
        // margin: 10px 0;
        margin-top: 10px;

        &-item {
            height: 60px;
            border-radius: 5px;
            padding: 5px 10px;  
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
            width: 100%;
            text-align: left;   
            margin-bottom: 10px; 
            
            &__icon {
                margin-top: 2px;
            }
        }
    }

    &__search {
        display: flex;
        justify-content: flex-end;
        margin: 5px 0;
    }
}
