
@import '../../styles/utils/_variables';
@import '../../styles/utils/_mixins';

.contract-management {
    height: 100%;
    background-color: $color-brand-7;
    overflow: hidden;

    &__content {
        width: 100%; 
        height: calc(100% - 43px);
        background-color: $color-background;
        padding: 5px 0;
        
        &-main {
            padding: 15px 10px;
        }
    }
}
