
@import '../../styles/utils/_variables';
@import '../../styles/utils/_mixins';

.contract-management {
    height: 100%;
    background-color: $color-brand-7;
    overflow: hidden;

    &__content {
        width: 100%;
        height: calc(100% - 32px);
        display: flex;
        background-color: $color-background;
        overflow: scroll;
        
        &-main {
            padding: 15px 10px;
        }
    }
}
